beautifulsoup4==4.13.4
chromadb==0.4.15
Flask==3.1.1
Flask_Cors==4.0.0
groq==0.30.0
langchain==0.3.27
pdfplumber==0.11.7
python-dotenv==1.1.1
python_docx==0.8.11
Requests==2.32.4
sentence_transformers==2.2.2
playwright==1.52.0
huggingface-hub==0.14.1
transformers==4.29.2
